{
        admin 0.0.0.0:2019
}

*.akuilera.space {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }

        @caddy host caddy.akuilera.space
        handle @caddy {
                root * /usr/share/caddy
                php_fastcgi localhost:80
                file_server
        }

        @portainer host caddy-portainer.akuilera.space
        handle @portainer {
                reverse_proxy https://portainer:9443 {
                    transport http {
                            tls
                            tls_insecure_skip_verify
                    }
                }
        }
}
