BACKUP_PATH=/path/to/backups
SOURCE_PATH_1=/path/to/repo/1/data
REPO_NAME_1=repo_name_1
SOURCE_PATH_2=/path/to/repo/2/data
REPO_NAME_2=repo_name_2
CONTAINERS_DISK_PATH=/path/to/containers
PUID=PUID
PGID=PGID