PATH_TO_CONTAINERS=/path/to/containers
UPLOAD_LOCATION=/path/to/upload/location
DB_PASSWORD=DB_PASSWORD
DB_USERNAME=immich_db_user
DB_DATABASE_NAME=immich_db_name
DB_DATA_LOCATION=/db/data/location
IMAGES_PATH=/path/to/images
VIDEOS_PATH=/path/to/videos