# Copy as .env and fill with real values. DO NOT upload .env to the repo.
PATH_TO_CONTAINERS=/path/to/containers/documents
USER_UID=1000
USER_GID=1000
MYSQL_DATABASE=gitea
MYSQL_USER=your_mariadb_user
MYSQL_PASS=your_mariadb_password
