# Copy as .env and fill with real values. DO NOT upload .env to the repo.
USER_UID=1000
USER_GID=1000
PATH_TO_CONTAINERS=/path/to/containers/documents
MYSQL_DATABASE=forgejo
MYSQL_USER=your_mariadb_user
MYSQL_PASS=your_mariadb_password
