PATH_TO_CONTAINERS=/path/to/containers
PATH_TO_CLOUD_DATA=/path/to/cloud/data
MYSQL_PASSWORD=mysql_nextcloud_password
MYSQL_DATABASE=nextcloud_db_password
MYSQL_USER=nextcloud_db_user
OVERWRITECLIURL=https://overwrite.url1.com, https://overwrite.url2.com
NEXTCLOUD_TRUSTED_DOMAINS=trusted.domain1.com, trusted.domain2.com
COLLABORA_PASSWORD=collabora_password